.container {
  width: 1200px;
  margin: 0 auto;
}
button,
a {
  outline: none;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
/* DELETE */
/* * {
  outline: 1px solid rgb(0, 60, 255);
} */
/* HEADER */
header {
  display: flex;
  align-items: center;
  min-height: 96px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 1.2;
}
.navigation a {
  color: #95e1d3;
  transition: color 0.2s linear;
}
.nagigation-list {
  display: flex;
  flex-wrap: wrap;
}
.navigation-logo a {
  font-size: 30px;
  font-weight: 700;
}
.navigation-list-item {
  position: relative;
}
.navigation-list-item:not(:last-of-type) {
  margin-right: 54px;
}
.nagigation-list a {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}
.navigation-list-item a::after {
  content: "";
  display: block;
  position: absolute;
  transition: opacity 0.2s linear;
  opacity: 0;
  background-color: #f38181;
  top: 26px;
  width: 100%;
  height: 3px;
}
.navigation-list-item a:hover::after,
.navigation-list-item a:hover,
.navigation-logo a:hover,
.navigation-list-item a:focus::after,
.navigation-list-item a:focus,
.navigation-logo a:focus {
  opacity: 1;
  color: #f38181;
}
/* MAIN */
.section-head-tagline {
  display: block;
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 400;
  text-transform: initial;
  font-family: "Kaushan Script", "Arial", sans-serif;
}
.section-head {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  color: #333333;
}
.section-head::after {
  content: "";
  display: block;
  background-color: #f38181;
  width: 60px;
  height: 3px;
}
.futures .section-head::after {
  margin: 38px auto 56px;
}
/* FEATURES */
.futures {
  padding-top: 84px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item-head {
  margin-bottom: 8px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}
.description-list-item,
.team-description,
.team-list-item-description {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}
.description-list-item,
.team-description {
  font-weight: 400;
}

.features-list-item {
  box-sizing: border-box;
  width: 390px;
  margin: 0 0 86px;
  padding: 5px;
  padding-left: 90px;
  background-repeat: no-repeat;
  background-position: 26px 10px;
}
.photography {
  background-image: url(../feature-icon/alarm.png);
}
.web-design {
  background-image: url(../feature-icon/line-graph.png);
}
.creativity {
  background-image: url(../feature-icon/computer-ok.png);
}
.seo {
  background-image: url(../feature-icon/book.png);
}
.css-html {
  background-image: url(../feature-icon/home.png);
}
.digital {
  background-image: url(../feature-icon/image.png);
}
/* OUR TEAM */
.team .section-head::after {
  margin: 32px auto 40px;
}
.team-description {
  width: 980px;
  margin: 0 auto 88px;
  padding: 0px 20px;
  text-align: center;
}
.team {
  border-bottom: 1px solid #e5e5e5;
}
/* TEAM LIST */
.team-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}
.team-list-item {
  position: relative;
  width: 380px;
}
.team-list-iteam-img {
  position: relative;
  margin-bottom: 30px;
}
.item-head {
  text-align: center;
}
.team-list-item-description {
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
/* OVERLAY */
.overlay {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.2s linear;
  height: 470px;
  width: 380px;
  box-shadow: 10px 10px #95e1d3;
  background-image: linear-gradient(
    180deg,
    rgba(243, 129, 129, 0.9),
    rgba(252, 227, 138, 0.9)
  );
}

.overlay a {
  display: block;
  background-color: #fce38a;
  opacity: 0;
  transition: opacity 0.5s linear;
  transition: background-color 0.2s linear;
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
}
.overlay a:not(:last-of-type) {
  border-right: 1px solid rgba(243, 129, 129, 0.5);
}

.facebook {
  background-image: url(../social-icon/facebook.png);
}
.twitter {
  background-image: url(../social-icon/twitter.png);
}
.pinterest {
  background-image: url(../social-icon/pinterest.png);
}
.instagram {
  background-image: url(../social-icon/instagram.png);
}
/* HOVER */
.team-list-iteam-img img {
  transform: translate(0px, 0px);
  transition: transform 0.2s linear;
}
.team-list-item:hover .team-list-iteam-img img {
  transform: translate(-10px, -10px);
}
.team-list-item:hover .overlay {
  transform: translate(-10px, -10px);
  opacity: 1;
}
.team-list-item:hover .overlay a {
  opacity: 1;
}
.overlay a:hover,
.overlay a:focus {
  background-color: #95e1d3;
}
/* FOOTER */
footer {
  display: flex;
  align-items: center;
  min-height: 62px;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0px;
}
.footer-copyright {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
}
.footer-copyright a {
  color: #f38181;
}
/* FORM */
.contact-form {
  display: flex;
}
.contact-form__input {
  padding: 0;
  height: 40px;
  width: 230px;
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
}
.contact-form__input::placeholder {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  font-style: italic;
  vertical-align: middle;
}

/* BUTTON */
.contact-form__btn {
  padding: 0;
  border: none;
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  cursor: pointer;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}
